# Tofu
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl.bak

# Helm
charts/
*.tgz

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp

# Local secrets
.env
.env.*
!.env.example
